<!DOCTYPE html>
<html lang="pt-BR">
<head>
		<meta charset="utf-8">
		<title>Barbershop</title>
		<link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&amp;subset=cyrillic" 
		rel="stylesheet">
		<link rel="stylesheet" href="css/normalize.css">	
		<link href="../css/home.css" rel="stylesheet">	
        <link rel="shortcut icon" href="img/favicon.ico" type="image/vnd.microsoft.icon">
	</head>
	<body>
       <header class="main-header">
			<nav class="main-navigation">
				<a href="index.html" class="main-header-logo">
					<img src="../img/logob.png" width="268" height="153">
				</a>
				<div class="main-navigation-wrapper">
					<div class="container">
						<ul class="site-navigation">
							<li><a href="#">Нome</a></li>
							<li><a href="">Agendamento</a></li>
							<li><a href="">Contatos</a></li>
						</ul>
						<ul class="user-navigation">
							<li>
								<a class="login-link" href="login">Login</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</header>

        <main class="container">

			<section class="features" id="info-point">
				<ul class="features-list">
					<li class="feature-item">
						<h3>Rápido</h3>
						<p>Nós fazemos nosso trabalho rapidamente! Em poucos minutos você será dono de um elegante corte de cabelo!</p>
					</li>
					<li class="feature-item">
						<h3>Descolado</h3>
						<p>Esqueça como você cortou o cabelo antes. Faremos de você PARECER uma estrela de futebol ou de cinema!</p>
					</li>
					<li class="feature-item">
						<h3>Preço</h3>
						<p>Possuímos um dos melhores preços da região. Cortes excelentes e bem acessíveis, não há nada melhor que isso</p>
					</li>
				</ul>
			</section>
        </main>
</body>
</html>