<!DOCTYPE html>
<html lang="pt-BR">
<head>
		<meta charset="utf-8">
		<title>Barbershop</title>
		<link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&amp;subset=cyrillic" 
		rel="stylesheet">
		<link rel="stylesheet" href="css/normalize.css">	
		<link href="../css/login.css" rel="stylesheet">	
        <link rel="shortcut icon" href="img/favicon.ico" type="image/vnd.microsoft.icon">
	</head>
	<body>
       <header class="main-header">
			<nav class="main-navigation">
				<div class="main-navigation-wrapper">
					<div class="container">
						<ul class="site-navigation">
							<li><a href="/">Нome</a></li>
							<li><a href="">Agendamento</a></li>
							<li><a href="">Contatos</a></li>
						</ul>
						<ul class="user-navigation">
							<li>
								<a class="login-link" href="login">Login</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</header>

        <main class="container">
            <div class="form">
                <form class="login-form">
                <h1>Cadastro</h1>
                <div class="form-group">
                    <label for="nome">Nome</label>
                    <input type="text" id="nome" name="nome" placeholder="Digite seu nome" required>
                </div>
                <div class="form-group">
                    <label for="cpf">CPF</label>
                    <input type="text" id="cpf" name="cpf" placeholder="Digite seu CPF" required>
                </div>
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input type="email" id="email" name="email" placeholder="Digite seu e-mail" required>
                </div>
                <div class="form-group">
                    <label for="telefone">Telefone</label>
                    <input type="tel" id="telefone" name="telefone" placeholder="Digite seu telefone" required>
                </div>
                <div class="form-group">
                    <label for="username">Usuário</label>
                    <input type="text" id="username" name="username" placeholder="Digite seu usuário" required>
                </div>
                <div class="form-group">
                    <label for="password">Senha</label>
                    <input type="password" id="password" name="password" placeholder="Digite sua senha" required>
                </div>
                <button type="submit">Cadastrar</button>
                </form>
            </div>
        </main>
    </body>