body {
	min-width: 960px;
	margin: 0;
	padding: 0;
	font-family: "PT Sans Narrow", Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
	background-color: #000000;
	background-image: url("../img/BARBEARIA.png");
	background-position: top center;
	background-repeat: no-repeat;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.inner-page {
	color: #000000;
	background-color: #f9f6f3;
	background-image: url("../img/pattern-light.jpg");
	background-position: 0 0;
	background-repeat: repeat;
}

.main-header {
	margin-bottom: 100px;
}

.inner-page .main-header {
	margin-bottom: 50px;
	background-color: #000000;
}

a {
	text-decoration: none;
}

.button {
	display: inline-block;
	margin-right: 16px;
	padding: 10px 30px;
	font: inherit;
	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;
	background-color: #000000;
	border: none;
}

.button:hover,
.button:focus,
.button:active {
	background-color: #663d15;	
}

.button.disabled,
.button:disabled {
	cursor: default;
	opacity: 0.5;
	background-color: #000000;
}

.main-navigation {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 16px;
	line-height: 20px;
	color: #ffffff;
	background-color: transparent;
}

.inner-page .main-navigation {
	align-items: flex-start;
	flex-direction: row;
}

.main-navigation .container {
	display: flex;
}

.main-header-logo {
	order: 2;
	width: 268px;
	height: 153px;
}

.inner-page .main-header-logo {
	order: 0;
	width: 111px;
	height: 24px;
	padding: 23px 20px;
}

.main-navigation-wrapper {
	width: 100%;
	margin-bottom: 35px;
	background-color: #000000;
}

.main-navigation-wrapper .container {
	display: flex;
	justify-content: space-between;
}

.site-navigation,
.user-navigation {
	list-style: none;
	margin: 0;
	padding: 0;
}

.site-navigation {
	display: flex;
	flex-wrap: wrap;
	width: 620px;
}

.user-navigation {
	display: flex;
	justify-content: flex-end;
	max-width: 140px;
}

.inner-page .user-navigation {
	margin-left: auto;
}

.site-navigation a,
.user-navigation a {
	display: block;
	padding: 25px 20px;
	color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
	background-color: #242424;
}

.site-navigation-current {
	position: relative;
}

.site-navigation-current a[href] {
	pointer-events: none;
}

.site-navigation-current a:not([href]) {
	background-color: #000000;
}

.site-navigation-current::after {
	content: "";
	position: absolute;
	right: 20px;
	bottom: 0;
	left: 20px;
	height: 5px;
	background-color: #ffffff;
}

.user-navigation .login-link {
	position: relative;
	padding-left: 50px;
}

.login-link::before {
	content: "";
	position: absolute;
	top: 27px;
	left: 24px;
	width: 16px;
	height: 18px;
	background-image: url("../img/login.svg");
	background-repeat: no-repeat;
	background-position: 0 0;  
	opacity: 0.3;
}

.login-link:hover::before,
.login-link:focus::before,
.login-link:active::before {
	opacity: 1;
}

.container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}

.features {
	margin-bottom: 80px;
}

.features-list {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	list-style: none;
}

.feature-item {
	width: 300px;
	text-align: center;
}

.feature-item h3 {
	position: relative;
	margin: 0;
	margin-bottom: 60px;
	font-size: 30px;
	line-height: 42px;
}

.feature-item h3::after {
	content: "";
	position: absolute;
	bottom: -30px;
	left: 50%;
	width: 20px;
	height: 20px;
	margin-left: -10px;
	background-color: #ffffff; 
	transform: rotate(45deg);
}

.feature-item p {
	margin: 0 10px;
}
